<footer class="m-t-1 pd-1 tx-centrado footer-ds">
      <small class="tm-1 tx-plomo">Copyright &copy; Dashboard - Tiendas
            <script>var a = new Date(); document.write(a.getFullYear());</script>
      </small>
</footer>
</body>

</html>