<div class="menu-fantasma"></div>
<input type="checkbox" id="btn-menu-l">
 <label for="btn-menu-l" class="lbl-menu-l"><i class="fa fa-bars open"></i> <i class="fa fa-close cls"></i></label>
 <div class="menu-lateral">
     <nav>
        <figure>
            
             <a href="/" title="Página Principal">
             <img src="../img/logo.jpg" alt="Nombre del logo">
             </a>
             
         </figure>
         <!-- <a href="/" id="datos_empresa"><i class="fa fa-building"></i> Datos de la Tienda</a> -->
         <a href="/empleados" id="usuario_panel"><i class="fa fa-users-cog"></i> Empleados</a>
         <a href="/"><i class="fa fa-store"></i></i> Sucrusales</a>         
     </nav>
 </div>